#homeContainer{
    height: calc(100vh - (100px));
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.7) ), url('../../assets/images/homeBg.jpg') no-repeat center center;
    background-size: cover;
    color: white;
  }
  #homeContent{
    font-size: 8rem;
    padding: 0 0 100px 0;
    color:rgb(248, 4, 78);
    margin: 0;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #homeDescription{
    width: fit-content;
    margin: auto;
    text-align: center;
  }
  #homeTitle{
    text-align: center;
    padding-top: 200px;
    display: flex;
    width: fit-content;
    margin:0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #homeTitleFirst{
    font-size: 4.5rem;
    font-weight: 400;
  }
  #homeTitleLast{
    font-size: 4.5rem;
    margin-left: 1rem;
    font-weight: 600;
    color:rgb(248, 4, 78);
  }
  .homeLinks{
    padding: 10px 100px 10px 100px;
    text-decoration: none;
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    border-radius: 15px;
    font-size: 2rem;
    margin-right: 75px;
    color: white;
    border: none;
    margin-bottom: 25px;
  }
  .homeLinksNav{
    padding: 17px 100px 17px 100px;
    text-decoration: none;
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    border-radius: 15px;
    font-size: 2rem;
    margin-right: 75px;
    color: white;
    border: none;
  }
  .homeLinks:hover ,.homeLinksNav:hover{
    color: black;
  }